@import url('./styles/reset.css');

.app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 20px;
  /* border: 1px solid red; */
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 20px;
  border-bottom: 2px solid black;
}

.notes {
  display: grid;
  grid-template-columns: 25% 1fr;
}

.link {
  cursor: pointer;
  text-decoration: none;
  font-weight: 600;
  color: black;
  transition: all ease-in 0.2s;
}
.link:hover {
  transform: scale(1.1);
}

.signin {
  height: 70vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.form-signin {
  padding: 20px 0;
}

.form__input {
  padding: 5px;
}

.form__button {
  padding: 5px;
}

.main {
  padding: 20px 20px;
}
.notelist {
  border-right: 2px solid black;
  padding-right: 20px;
  min-height: 70vh;
}
.describe {
  padding: 0 20px;
}

.footer {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  border-top: 2px solid black;
  border-bottom: 2px solid black;
}

.hidden-textarea {
  width: 100%; /* Размер остается, иначе нельзя ввести текст */
  height: 30rem;
  padding: 10px;
  /* border: none; */
  outline: none;
  resize: none;
}

.describe-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.desc-add {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20px;
  height: 20px;
  background-color: #fff;
  border: 2px solid rgb(0, 0, 0);
  border-radius: 50%;
  cursor: pointer;
  padding: 10px;
  transition: all  ease-in-out 0.3s;
}

.desc-add:hover {
  border-radius: 15%;
}

.note li {
  padding: 10px;
}

.font-bold {
  font-weight: bold;
  background-color: #d4d4d4;
  border-radius: 5px;
}